

* {
	margin: 0;

}


html,body {
  height: 100vh;
 

}

@font-face {

	font-family: 'RemachineScript';
	src: url(../fonts/RemachineScript.ttf);
}

h1,h2,h3,h4,h5,h6 p{
	margin-bottom: 20px;
}
@media screen and (max-width: 480px){
  .sect .nav { margin: 0px auto; width: 98%; height: 400px; text-align: center; background-image: url(".../img/lights.jpg"); padding: 1px;  }
  .subSection1 { margin: 0px auto; width: 98%; height: 400px; text-align: center; padding: 1px;  }
   .subSection1 h1 { font-size: 0.4em; }
   .subSection1 h2 { font-size: 0.2em; }
   .circular-image { margin: 0px auto; width: 98%; height: 20px; padding: 1px;  }
}
@media screen and (max-width: 768px){
  .sect .nav { margin: 0px auto; width: 98%; height: 400px; text-align: center; background-image: url(".../img/lights.jpg"); padding: 1px;  }
  .subSection1 { margin: 0px auto; width: 98%; height: 400px; text-align: center; padding: 1px;  }
  .subSection1 h1 { font-size: 0.6em; }
  .subSection1 h2 { font-size: 0.3em; }
  .circular-image { margin: 0px auto; width: 98%; height: 40px; padding: 1px;  }

}

@media screen and (max-width: 1024px){
 .sect .nav { margin: 0px auto; width: 98%; height: 400px; text-align: center; background-image: url(".../img/lights.jpg"); padding: 1px;  }
 .subSection1 { margin: 0px auto; width: 98%; height: 400px; text-align: center; padding: 1px;  }
 .subSection1 h1 { font-size: 0.9em; }
 .subSection1 h2 { font-size: 0.6em; }
 .circular-image { margin: 0px auto; width: 98%; height: 60px; padding: 1px;  }

}







nav {
	height: 50px;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	width: 100%;
	z-index: 99%;

}

nav a {

	text-decoration: none;
	color: #fff;	
	margin-left: 30px;
	line-height: 50px;
}

.sect {
	height: 100vh;
	background-color: aqua;
	background-size: cover;
	background-attachment: fixed;
	background-image: 100vh;

}

.subSection1 {

	height: 70%;
	background-color: black;
	color: white;
	font-family: "RemachineScript";
	font-size: 30px;
	text-align: center;
}
.subSection2 {

	/*height: 80%;*/
	background-color: black;
	overflow:auto;
}
.subSection3 {

	/*height: 80%;*/
	background-color: black;
	overflow:auto;
}
.sectOne{
	background-image: url("../img/lights.jpg")   ;
	

}

.sectTwo{
	
	background-image: url("../img/lighthouse.jpg") ;
	}
.sectThree{
	
	background-image: url("../img/falls.jpg") ;
	
}

.sectfour{
	
	background-image: url("../img/yellowfall.jpg") ;
	
}



.gallery {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  
  
}

.gallery a {
  display: inline; 

}

.gallery a img {
  /*max-height: 160px;*/
  width: 250px;
  height: 250px;
  margin: 5px;
  border: 8px solid white;
  transition: all 0.2s ease-in;
}

.gallery a img:hover {
  border: 1;
  align-items: center;
  /* box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.5);
  transform: scale(1.3) translateY(10px);
}

.circular-image {
  
  border-radius:  100%;
  width: 230px;
  height: 270px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}











